/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
html, body{
    /* height: 100px; */
    width: 100%;
    background-color: skyblue;
    border: 2px solid red;
    margin: 0 auto;
}
.container{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
    margin-left: 20px;
}
h1{
    font-size: 30px;
    font-weight: 800;
    margin: 10px;
    text-align: left;
}

#textField {
    margin-left: 15px;
}
.addTask button {
    border-radius: 5px;
    cursor: pointer;
}
li button{
    cursor: pointer;
}